@font-face {
    font-family: 'Bickham script one';
    src: url(../fonts/bickham-script-one.woff);
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'TT Firs Neue Trl';
    src: url('fonts/TTFirsNeue-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'TT Firs Neue Trl';
    src: url('fonts/TTFirsNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    /* Средний вес, адаптируйте под ваш файл */
}


.main-section {
    background: #EEEDEC;
}

.background {
    background: #ffffff;
    margin: 0px 214px;
    width: 1429px;
}

.banner {
    padding: 11px 135px 110px 112px;
}

.banner__content {
    /* height: 741px;
    width: 1245px; */
    box-sizing: border-box;
    position: relative;
    border-radius: 14px;
    padding: 496px 385px 30px 396px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 14px;
}

.banner__text {
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-size: 29px;
    font-weight: 400;
    line-height: normal;
    color: white;
    text-align: center;
}

.banner__btn {
    padding: 12px 40px;
    background-color: #D0BB9A;
    border-radius: 7px;
    border: none;
    color: #FFFFFF;
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.title-main {
    font-family: Playfair display;
    font-size: 49px;
    line-height: normal;
    font-weight: 400;
    color: #1A1A1A;
    text-decoration: none;
}

.title-group {
    display: flex;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 88px;
    gap: 27px;
}

.divider__second {
    height: 44px;
    width: 930px;
    background: linear-gradient(90deg, #E5E4DC 0%, #ffffff 97.04%);
    border-radius: 7px;
}

.rec__visible {
    display: flex;
    flex-direction: row;
}

.rec__flex {
    display: flex;
    flex-direction: row;
}

.rec__item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.rec__name {
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-size: 32px;
    line-height: normal;
    font-weight: 400;
    padding-top: 12px;
    color: #332E2E;
}

.rec__text {
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-size: 19px;
    line-height: normal;
    color: #332E2E;
}

.rec__btn {
    border: 1px solid #272727;
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
    padding: 12px 18px;
    border-radius: 531px;
    background: none;
    width: 125px;
}



.bttn_save {
    display: flex;
    flex-direction: row-reverse;
    background: transparent;
    border: none;
    cursor: pointer;
}

.save-icon {
    width: 24px;
    height: 24px;
}

.popular__item {
    text-decoration: none;
}

a {
    color: inherit;
    /* Используйте цвет текста родительского элемента */
    text-decoration: none;
    /* Убираем подчеркивание */
    cursor: crosshair;
}

/* Если вы хотите изменить цвет ссылки при наведении */
a:hover {
    color: inherit;
    /* Используйте цвет текста родительского элемента */
}