@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans&display=swap');

.banner__content {
    background: url(../img/jewelry/banner.jpg) center center no-repeat;
}

.title__name {
    display: flex;
    flex-direction: row;
    gap: 165px;
    align-items: center;
    justify-content: space-between;
}

.icon {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.jewelry_title {
    font-family: 'Bickham Script One', cursive;
    font-weight: normal;
    font-size: 72px;
    color: #000000;
}

.grey__text {
    font-family: Copperplate;
    font-size: 22px;
    font-weight: 200px;
    color: #7D7B7B;
}
.line {
    width: 65px;
    margin: 24px 555px;
    border-top: 1px solid #2A2A2A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jewelry__text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
    color: #7D7B7B;
}
.jewelry_flex {
    display: flex;
    flex-direction: row;
    gap: 13px;
    padding-top: 63px;
}
.grace2 {
    height: 625px;
    width: 549;

}
.ring {
    height: 570px;
    width: 549px;
}

.cover_name {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
    color: #7D7B7B;
}
.popular__img {
    border-radius: 381px;
}
.bttn {
    display: flex;
    width: 42px;
    height: 42px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: white;
}