@font-face {
    font-family: 'Bickham Script One';
    src: url('path/to/bickham-script-one-regular.woff2') format('woff2'),
        url('path/to/bickham-script-one-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.tiffany {
    display: flex;
    flex-direction: column;
    row-gap: 280px;
    width: 100%;
    padding-top: 1150px;
}

.tiffany_history {
    display: flex;
    flex-direction: row;
    column-gap: 134px;
    width: 100%;

}

.banner {
    background: url(../img/tiffany/cartierbanner.png) no-repeat;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__cartier {
    color: #FFFFFF;
    align-content: center;
    font-family: 'TT Firs Neue Trl', sans-serif;
    padding: 68px 343px 0px 475px;
}

.banner__heading {
    font-size: 85px;
    font-weight: 200;
}

.text__cartier {
    font-size: 25px;

}

.num {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    padding-top: 230px;

}

.num__link {
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.info_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.info_topic {
    max-width: 453px;
    width: 100%;
    text-align: center;
}

/* .info_title {
    color: #000000;
    font-size: 183px;
    font-family: Bickham Script One;
} */
.info_title {
    color: #000000;
    font-size: 80px;
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-weight: normal;
    margin: 0;
    line-height: 183px;
}

.info_subtitle {
    color: #000000;
    font-size: 32px;
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-weight: 400;
    line-height: normal;
    margin-block: 8px;
}

.info_text {
    color: #000000;
    font-size: 18px;
    font-family: 'TT Firs Neue Trl', sans-serif;
    font-weight: 200;
}

.shop_img {
    width: 489px;
    height: 413px;
}

.catalogue__img {
    width: 531px;
    height: 413px;
}

.building_img {
    width: 487px;
    height: 378px;
}

.moodboard_img {
    width: 531px;
    height: 489px;
}

.portret_img {
    width: 485px;
    height: 413px;
}

.almaz_img {
    width: 528px;
    height: 413px;
}

.ring_img {
    width: 485px;
    height: 413px;
}

.magazin_img {
    width: 399px;
    height: 585px;
}

.box_img {
    width: 289px;
    height: 383px;
}

.years_cartier {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 72px;
}

.years_img {
    padding-left: 20px;
}

.cartier_img {
    padding-bottom: 72px;
}

.number__nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 445px;
}